nb-card-body {
    .profile-box {
        width: 500px;
        padding: 10px 30px 25px;
    }


    .profile-round {
        text-align: center;
        margin-bottom: 20px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid rgb(84, 185, 72);
        }
    }

    .profile-title {
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 15px;

        img {
            width: 20px;
            margin-right: 5px;
        }
    }

    .profile-desc {
        color: rgb(155, 155, 155);
        font-size: 14px;
        border-bottom: 1px solid #DDD;
        padding: 0 40px 10px;

        input {
            width: 100%;
            height: 40px;
            padding: 0 20px;
            outline: none;
        }
    }
}

.btn-profile {
    background-color: rgb(43, 149, 207);
    border: 1px solid rgb(43, 149, 207);
    color: #FFF;
    font-weight: normal;
    padding: 7px 20px;
}