@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 6rem;
    overflow: visible;

    .icon-container-houseowner {
      height: 100%;
      padding: 0.625rem;
      background-image: linear-gradient(#00E2E2, #00E0DF, #00D9DA, #00C9CB);
    }

    .icon-container-driver {
      height: 100%;
      padding: 0.625rem;
      background-image: linear-gradient(#FBC072, #FFBB6A, #FFA955);
    }


    .icon-container-booking {
      height: 100%;
      padding: 0.625rem;
      background-image: linear-gradient(#00E89E, #00E093, #00C86F);
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 4.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(text-control-color);

      // @each $status in nb-get-statuses() {
      //   &.status-#{$status} {
      //     $left-color: nb-theme(button-hero-#{$status}-left-background-color);
      //     $right-color: nb-theme(button-hero-#{$status}-right-background-color);
      //     background-image: linear-gradient(to right, $left-color, $right-color);

      //     &:hover {
      //       $left-hover-color: nb-theme(button-hero-#{$status}-hover-left-background-color);
      //       $right-hover-color: nb-theme(button-hero-#{$status}-hover-right-background-color);
      //       background-image: linear-gradient(to right, $left-hover-color, $right-hover-color);
      //     }
      //   }
      // }
    }

    &.off {
      color: nb-theme(text-hint-color);

      .status,
      .title,
      .icon {
        color: nb-theme(text-hint-color);
      }

      @each $status in nb-get-statuses() {
        .icon.status-#{$status} {
          box-shadow: none;
          background-image: linear-gradient(to right, transparent, transparent);
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 1.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
      line-height: 30px;
    }

    .title {
      margin: 0;
      font-size: 12px;
      color: $light-grey;
    }

    .status {
      font-size: 24px;
      color: #050505 !important;
      font-weight: 700;
    }

  }

  .card-border {
    border-radius: 0.75rem;
  }

  .icon-card-border {
    border-bottom-left-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    box-shadow: 3px 0 5px -2px #b5b5b5;
  }
}
