@import '../../../@theme/styles/themes';

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {

  nb-tabset {
    display: flex;
    flex-direction: column;
    flex: 1;

    ::ng-deep ul {
      // make same size as card header
      border-color: transparent;
      padding-bottom: 1px;
      .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab {
    flex: 1;
    padding: 0 0 1.25rem;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .chart-spinner {
      position: absolute;
      background-color: #FFFFFF;
      width: 100%;
      height: calc(100% - 90px);
      z-index: 9;
      bottom: 0;
      left: 0;
    }
  }

  ngx-profit-chart,
  ngx-orders-chart {
    padding: 0 1.25rem;
  }
  ngx-profit-chart{
    margin-top: 10px !important;
  }

  .book-title {
    margin: 0.8rem 1rem;
    font-size: 16px;
    font-weight: 700;
  }
}
