nb-layout {
    nb-card-body {
        padding: 0;

        .chnagepassword-parkign-logo {
            text-align: center;
            padding: 40px 0 20px;

            img {
                width: 170px;
            }
        }

        .chnagepassword-title {
            font-size: 35px;
            line-height: 60px;
            text-align: center;
            font-weight: bold;
        }

        .chnagepassword-desc {
            color: rgb(174, 174, 174);
            text-align: center;
            font-size: 16px;
        }

        .chnagepassword-form {
            margin: 20px auto 40px;
            width: 80%;

            label {
                width: 100%;
                color: rgb(94, 94, 94);
                font-size: 12px;
                line-height: 22px;
                margin: 25px 0 0;
                font-weight: bold;

                a {
                    color: rgb(94, 94, 94) !important;
                    float: right;
                }
            }

            input {
                width: 100%;
                height: 50px;
                background-color: rgb(229, 229, 229);
                border-radius: 25px;
                font-size: 16px;
                padding: 0 15px;
            }

            span {
                color: rgb(251, 65, 65);
            }
        }

        .remember-text {
            font-size: 14px;
            color: rgb(74, 74, 74);
            font-weight: bold;
            margin: 15px 0;

            input {
                width: 20px;
                height: 15px;
                margin: 0;            
            }
        }

        .btn-chnagepassword {
            color: #FFF;
            width: 100%;
            background-color: rgb(21, 125, 196);
            padding: 15px;
            border: 0;
            border-radius: 25px;
            box-shadow: 5px 5px 10px #DDD;
        }

        .btn-chnagepassword:disabled {
            opacity: 0.5;
        }
    }
}
