@media only screen and (max-width:575px) {
    .paddfilter {
        padding: 0.5rem 1rem;
    }

}

.filterwidth {
    width:100%
}

.paddfilter {
    text-align: end;
}

.car-owner-search {
    width: 50%;
}